body{
	margin:0;
	padding:0;
	color:inherit;
	background-color: #041535;
	font-family: Arial, Helvetica, Sans-serif;
}

body.border #container,
body.border #creative{
	border:1px dotted #ccc;
}

#container{
	margin:0 auto;
	display: block;
	max-width:1020px;
	background-size: 450px;
	background-repeat: no-repeat;
	background-position: top center;
	background-image: url('/creatives/TrainYourBrain/mraid/qa/qtel/en/google/img/bg.jpg');
}

#mraid-close {
	top: 5px;
	right: 5px;
	width: 25px;
	height: 25px;
	z-index: 100;
	color: white;
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
    background-image: url('/public/mraid-landing-pages/img/close.png');
}


#pricing{
	color:#84a8ce;
	padding:5px 0;
	display:block;
	font-size: 10px;
	text-align: center;
	background: rgba(4,20,53,0.3);
}

#click-here{
	width:300px;
	color:#6992ae;
	display:block;
	font-size: 11px;
	margin:10px auto;
	text-align:center;
	background-color: inherit;
}

#click-here a{
	color:#ccc;
	background-color: inherit;
}

#msg{
	width:300px;
	color:#6992ae;
	display: block;
	font-size:10px;
	margin:10px auto;
	text-align: center;
	background-color: inherit;
}

#operator{
	width:140px;
	display:block;
	margin:0 auto;
}

#creative{
	width:300px;
	height:355px;
	display:block;
	margin:0 auto;
	position: relative;
}

#logo{
	width:120px;
	height:20px;
	display: block;
	margin:10px auto 0 auto;
	background-size:100% auto;
	background-repeat: no-repeat;
	background-image: url('/creatives/TrainYourBrain/mraid/qa/qtel/en/google/img/ma_logo_blue.png');
	
}

#title{
	width:200px;
	height:25px;
	display: block;
	margin:10px auto 0 auto;
	background-size:100% auto;
	background-repeat: no-repeat;
	background-image: url('/creatives/TrainYourBrain/mraid/qa/qtel/en/google/img/label_state_01.png');
	
}

#catndog{
    width: 140px;
    height: 145px;
	display: block;
	margin:10px auto 0 auto;
	background-size:100% auto;
	background-repeat: no-repeat;
	background-image: url('/creatives/TrainYourBrain/mraid/qa/qtel/en/google/img/main.png');
}

#group{
	left: 0;
	right: 0;
	top:220px;
	width:300px;
	height:50px;
	display:block;
	margin: 0 auto;
	text-align: center;
	position: absolute;
}   


#cats,
#dog{
	top:0;
	width:74px;
	height:50px;
	display: block;
	position:absolute;
	background-size: 100% auto;
}

#cats{
	right:0;
	background-image: url('/creatives/TrainYourBrain/mraid/qa/qtel/en/google/img/answer_cats.png');
}

#dog{
	left:0;
	background-image: url('/creatives/TrainYourBrain/mraid/qa/qtel/en/google/img/answer_dog.png');
}

#or{
	color:#7EE1FF;
	font-size:16px;
	line-height: 40px;
	font-weight: normal;
	background-color: transparent;
}

#disclaimer{
	width:300px;
	color:#415e71;
	margin:0 auto;
	display:block;
	font-size:10px;
	line-height: 1.5em;
	text-align: justify;
	background-color: inherit;
}


#holder{
	left:10px;
	right:10px;
	bottom:10px;
	padding:10px;
	display:block;
	position: absolute;
}

.btn{
	width: 240px;
	height: 30px;
	padding: 10px;
	display:block;
	margin:0 auto;
	color: #061536;
	font-size:20px;
	line-height: 30px;
	font-weight: bold;
	text-align: center;
	border-radius: 45px;
	text-decoration: none;
}

.blue{
	background: #2eb4ff;
	background: -moz-linear-gradient(top, #69dcff 0%, #2eb4ff 100%);
	background: -webkit-linear-gradient(top, #69dcff 0%, #2eb4ff 100%);
	background: linear-gradient(to bottom, #69dcff 0%, #2eb4ff 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#69dcff', endColorstr='#2eb4ff', GradientType=0);
	-webkit-box-shadow: inset 0px -3px 0px 0px rgba(18, 107, 170, 0.9);
	-moz-box-shadow: inset 0px -3px 0px 0px rgba(18, 107, 170, 0.9);
	box-shadow: inset 0px -3px 0px 0px rgba(18, 107, 170, 0.9);
}

.yellow{
	background: #f7c43a;
	background: -moz-linear-gradient(top, #fcd25f 0%, #f7c43a 100%);
	background: -webkit-linear-gradient(top, #fcd25f 0%, #f7c43a 100%);
	background: linear-gradient(to bottom, #fcd25f 0%, #f7c43a 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fcd25f', endColorstr='#f7c43a', GradientType=0);
	-webkit-box-shadow: inset 0px -3px 0px 0px rgba(192, 144, 11, 1);
	-moz-box-shadow: inset 0px -3px 0px 0px rgba(192, 144, 11, 1);
	box-shadow: inset 0px -3px 0px 0px rgba(192, 144, 11, 1);
}

#container,
#creative,
#logo,
#title,
#catndog,
#group,
#dog,
#cats,
#or{
	transition:0.5s ease-in-out;
	-webkit-transition:0.5s ease-in-out;
}

#cats{
  animation: fadein 2.25s ease-in-out 1;
  -webkit-animation: fadein 2.25s ease-in-out 1;
}

#dog,
#poster,
#slogan{
  animation: fadein 1.25s ease-in-out 1;
  -webkit-animation: fadein 1.25s ease-in-out 1;
}

#or,
.timer,
#double-confirmation-message{
  animation: fadein 1.75s ease-in-out 1;
  -webkit-animation: fadein 1.75s ease-in-out 1;
}

@keyframes fadein{
    0% {transform: translate(0,30px); opacity: 0;}
    100% {transform: translate(0,0); opacity: 100;}
}

@-webkit-keyframes fadein{
    0% {transform: translate(0,30px); opacity: 0;}
    100% {transform: translate(0,0); opacity: 100;}
}

  .pulse{
	  animation:  pulse 1s ease-in-out infinite;
        -webkit-animation:  pulse 1s ease-in-out infinite;
    }
    
    @keyframes pulse{
        0%{
            -webkit-transform:
            scale(1,1);
        }
        50%{
            -webkit-transform:
            scale(0.95,0.95);
        }
        100%{
            -webkit-transform:
            scale(1,1);
        }
    }

    
    @-webkit-keyframes pulse{
        0%{
            -webkit-transform:
            scale(1,1);
        }
        50%{
            -webkit-transform:
            scale(0.95,0.95);
        }
        100%{
            -webkit-transform:
            scale(1,1);
        }
    }


#container.show-double-confirmation #title,
#container.show-double-confirmation #catndog,
#container.show-double-confirmation #group,
#container.show-double-confirmation #click-here,
#container.show-double-confirmation #msg{
	display:none;
}

#container.show-double-confirmation #poster,
#container.show-double-confirmation #slogan,
#container.show-double-confirmation .timer{
	display:block;
}

#container.show-double-confirmation #holder{
	bottom:0;
}

#double-confirmation-message{
	margin:10px 0;
	display: block;
	color: #98E5FD;
	font-size: 10px;
	text-align: center;
}

#double-confirmation-no{
    width: 42px;
    color: #4E79B6;
    display: block;
    margin: 10px auto;
    text-align: center;
    text-decoration: underline;
    font-size: 13px !important;
}

#poster{
	width: 150px;
    height: 115px;
	display: none;
	margin:0 auto;
	background-size: 100% auto;
	background-image: url('/creatives/TrainYourBrain/mraid/qa/qtel/en/google/img/mind-img.png');
	
}

#slogan{
	width: 240px;
    height: 44px;
    display: none;
    margin: 10px auto;
    background-size: 100% auto;
    background-image: url('/creatives/TrainYourBrain/mraid/qa/qtel/en/google/img/label_state_02.png');
}

.timer{
	margin: 10px 0;
	font-size: 12px;
	color: #fff;
	display: none;
	text-align: center;
}

.timer u{
	text-decoration: none;
}

@media only screen and (max-height : 375px) {
	
	#creative{
		height: 320px;
	}
	
	#click-here,
	#msg,
	#operator{
		display: none;
	}
	
	#group{
		top:200px;
	}
	
	#poster{
		width:130px;
		height:101px;
	}

	#holder{
		bottom:0;
	}
	
	#container.show-double-confirmation #holder {
    bottom: -25px;
	}
}

@media only screen and (max-height : 275px) {
	
	#container{
		background-size:250px;
	}
	
	#container.show-double-confirmation #creative{

		height: 220px;

	}

	#creative{
		height: 200px;
	}
	
	#logo{
		width:80px;
		height:14px;
	}
	
	#title{
		width:140px;
		height:15px;
	}
	
	#catndog{
		width:70px;
		height:95px;
	}
	
	#group{
	top: 120px;
    zoom: 0.8;
	}
	
	#holder{
		bottom:0;
	}
	
	#click-here,
	#msg,
	#operator,
	#poster{
		display: none !important;
	}
	
	#disclaimer p{
		margin:0;
	}
	
	#container.show-double-confirmation #holder {
		bottom: -15px;
	}
	
}

body.stop-animations *,
body.stop-animations *:before,
body.stop-animations *:after {
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}