#holder, 
#css-animations,
#street-view {
    height: 440px;
}

.title {
    top: 0;
}

#iframe-state {
    width: 310px;
    height: 180px;
    display: block;
    margin: 0 auto 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
}

#iframe-state iframe {
    width: 310px;
    height: 170px;
    border: none;
    position: absolute;
    left: calc(50% - 155px);
    bottom: 5px;
}

.title-shadow {
    top: 225px;
}

#dragon {
    top: 190px;
}

#pokemon-ball-ae {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: auto;
    background: url("/creatives/PokemonGo/assets/img/ball.png") center no-repeat;
    background-size: 150px auto;
    z-index: 3;
    -webkit-animation: bounce 1s infinite ease-in;
    animation: bounce 1s infinite ease-in;
}

@-webkit-keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
    }
    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -7px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -2px, 0);
    }
}

@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0, 0, 0);
    }
    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -15px, 0);
    }
    70% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -7px, 0);
    }
    90% {
        transform: translate3d(0, -2px, 0);
    }
}
