body {
	background-color: #e3e3e3;
}

body.ar{
	direction: rtl;
}

.pricing {
	color: #292929;
}

body.az .banner img, 
body.az .confirmation-banner img {
	border-bottom: 0;
}

.banner img, 
.confirmation-banner img {
	border-bottom: 1px solid #c7c7c7;
	padding: 0 0 1px 0;
}

body.az .banner img {
	border-top: 0;
}

.banner img {
	border-top: 1px solid #c7c7c7;
	padding: 1px 0;
}

body.ar #default-state {
	text-align: right;
}

#double-confirmation, #double-confirmation .info-highlight, #pin-entry label.big{
	color: #000;
}

#double-confirmation .price {
	border-bottom: 1px solid #c7c7c7;
}

#mo h3 {
	color: #595959;
}

#congrats h3{
	color: #000;
}

.disclaimer {
	border-top: 1px solid #c7c7c7;
	color: #595959;
}
body.ar .disclaimer a, 
body.ar .disclaimer a:active, 
body.ar .disclaimer a:visited {
	text-align: right;
}