#container.show-double-confirmation .title {
    background-size: 330px auto;
}

.title {
    width: 250px;
    height: 180px;
    background: url("/creatives/PokemonGo/assets/img/title-az.png") center -5px no-repeat;
    background-size: 360px auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    margin: auto;
    z-index: 4;
    -webkit-animation: titleAnim 3s infinite ease-in-out;
    animation: titleAnim 3s infinite ease-in-out;
}

@-webkit-keyframes titleAnim {
    0%,
    100% {
        -webkit-filter: brightness(100%);
        filter: brightness(100%);
    }
    50% {
        -webkit-filter: brightness(130%);
        filter: brightness(130%);
    }
}
