body {
	background: #222;
	color: #999;
}
body a,
body a img { border: none; }
.pricing,
.disclaimer,
.disclaimer a, .disclaimer a:active, .disclaimer a:visited { font-size: 10px; }
.pricing {
	padding: 0 10px;
	color: #fff;
	background: #111;
}
.disclaimer {
	margin: 0 auto;
	color: #999;
}
.disclaimer a,
.disclaimer a:hover,
.disclaimer a:active {
	text-align: center;
}
#language { text-decoration: none; }
.language-btn img {
	width: 103px;
	height: 33px;
}

/* default-state */

#default-state .info a,
#default-state .info span {
	color: #999;
	font-size: 12px;
}
#default-state .info a,
#default-state .info a:hover,
#default-state .info a:active {
	color: #f34583;
	text-decoration: none;
}

/* double-confirmation */

#double-confirmation .info-highlight {
	margin: 10px auto 0;
	font-size: 16px;
	color: #fff;
}
#double-confirmation #confirm { text-decoration: none; }
#double-confirmation .no {
	margin-top: -5px;
	color: #999;
}

/* number-entry */

#number-entry label {
	margin: 10px auto;
	font-size: 16px;
	color: #fff;
}
#number-entry #submit-number { text-decoration: none; }

/* pin-entry */

#pin-entry label.big {
	margin: 10px auto;
	font-size: 14px;
	color: #fff;
}
#pin-entry #submit-pin { text-decoration: none; }

/* mo */

#mo .info {
	margin: 10px auto;
	color: #999;
}
#mo h3,
#mo span {
	display: block;
	margin: 0 auto 10px;
}
#mo h3 { color: #fff; }
#mo span { color: #f34583; }

/* congrats */

#congrats h3 {
	margin: 10px auto;
	font-size: 18px;
	color: #fff;
}
#congrats span { color: #999; }