body.res240 .pricing, 
body.res176 .pricing, 
body.res128 .pricing {
}
body.res240 #default-state .info a, 
body.res240 #default-state .info span, 
body.res240 .disclaimer, 
body.res240 .disclaimer a, 
body.res176 #default-state .info a,
body.res176 #default-state .info span, 
body.res176 .disclaimer, 
body.res176 .disclaimer a,
body.res128 #default-state .info a, 
body.res128 #default-state .info span, 
body.res128 .disclaimer, 
body.res128 .disclaimer a {
}
body.res240 .language-btn img, 
body.res176 .language-btn img, 
body.res128 .language-btn img {
	width: 80px;
}
body.res240 #number-entry label, 
body.res176 #number-entry label, 
body.res128 #number-entry label {
}
body.res240 #number-entry input[type="tel"], 
body.res176 #number-entry input[type="tel"], 
body.res128 #number-entry input[type="tel"] {
	padding: 5px;
}
body.res240 #pin-entry label.small, 
body.res176 #pin-entry label.small, 
body.res128 #pin-entry label.small {
}
body.res240 #pin-entry label.smaller, 
body.res240 #pin-entry label.info, 
body.res176 #pin-entry label.smaller, 
body.res176 #pin-entry label.info, 
body.res128 #pin-entry label.smaller, 
body.res128 #pin-entry label.info {
}
body.res240 #pin-entry label.info, 
body.res176 #pin-entry label.info, 
body.res128 #pin-entry label.info {
	margin-bottom: 10px;
}
body.res240 #pin-entry label.big, 
body.res176 #pin-entry label.big, 
body.res128 #pin-entry label.big {
}
body.res240 #pin-entry input[type="tel"], 
body.res176 #pin-entry input[type="tel"], 
body.res128 #pin-entry input[type="tel"] {
	width: 44px;
	padding: 5px;
}
body.res240 #double-confirmation .info-highlight, 
body.res176 #double-confirmation .info-highlight, 
body.res128 #double-confirmation .info-highlight {
}
body.res240 #mo .info, 
body.res176 #mo .info, 
body.res128 #mo .info {
}
body.res240 #mo h3, 
body.res176 #mo h3, 
body.res128 #mo h3 {
}
body.res240 #mo span, 
body.res176 #mo span, 
body.res128 #mo span {
	font-size: 22px;
}
body.res240 #congrats h3, 
body.res176 #congrats h3, 
body.res128 #congrats h3 {
}
body.res240 #congrats span, 
body.res176 #congrats span, 
body.res128 #congrats span {
}
body.res240 .arrow-wrap img, 
body.res176 .arrow-wrap img, 
body.res128 .arrow-wrap img {
	height: auto;
}
body.res240 .arrow-wrap.pin img, 
body.res176 .arrow-wrap.pin img, 
body.res128 .arrow-wrap.pin img {
	width: 123px;
}
body.res240 .arrow-wrap.number img, 
body.res176 .arrow-wrap.number img, 
body.res128 .arrow-wrap.number img {
	width: 150px;
}
body.res240 .error, 
body.res176 .error, 
body.res128 .error {
	margin: 0 0 11px 0;
}
body.res240 .button, 
body.res240 .button img, 
body.res176 .button, 
body.res176 .button img, 
body.res128 .button, 
body.res128 .button img {
	width: 100%;
}
/*--- Resoltion 640 Screens Settings ---*/
body.res640 {
}
/*--- Resoltion 480 Screens Settings ---*/
body.res480 {
}
/*--- Resoltion 400 Screens Settings ---*/
body.res400 {
}
/*--- Resoltion 320 Screens Settings ---*/
body.res320 {
}
/*--- Resoltion 240 Screens Settings ---*/
body.res240 #number-entry, 
body.res240 #pin-entry, 
body.res240 #mo, 
body.res240 #congrats {
	margin: 5px 20px;
}
body.res240 #number-entry input[type="tel"] {
	width: 110px;
}
body.res240 .arrow-wrap.number img {
	width: 200px;
}
body.res240 #double-confirmation .info, 
body.res240 #double-confirmation .price {
}
body.res240 #double-confirmation .no {
	margin: 10px;
}
body.res240 #double-confirmation .info-highlight, 
body.res240 #double-confirmation .price {
	padding: 0 20px;
}
body.res240 .btn {
	width: 200px !important;
}
/*--- Resoltion 176 Screens Settings ---*/
body.res176 #number-entry, 
body.res176 #pin-entry, 
body.res176 #mo, 
body.res176 #congrats {
	margin: 5px 10px;
}
body.res176 #number-entry input[type="tel"] {
	width: 85px;
}
body.res176 #double-confirmation .info {
	padding: 5px;
}
body.res176 #double-confirmation .no {
	margin: 10px;
}
body.res176 #double-confirmation .price {
}
body.res176 #double-confirmation .button span {
	padding: 0 10px;
}
body.res176 #default-state {
	padding: 0;
}
body.res176 .button, 
body.res176 .button img {
	width: 100%;
}
body.res176 #pin-entry label.small, 
body.res176 #pin-entry label.smaller, 
body.res176 #pin-entry label.big, 
body.res176 #pin-entry label.info {
	margin: 5px 0;
}
body.res176 #pin-entry label.info {
}
body.res176 .disclaimer {
	margin: 10px 10px;
}
body.res176 .btn {
	width: 150px;
}
body.res176 .arrow-wrap.number img {
	top: 4px;
	width: 156px;
}
body.res176 .arrow-wrap.pin img {
	width: 113px;
	top: 1px;
}
/*--- Resoltion 128 Screens Settings ---*/
body.res128 #number-entry, 
body.res128 #pin-entry, 
body.res128 #mo, 
body.res128 #congrats {
	margin: 5px 10px;
}
body.res128 #default-state {
	padding: 0;
	margin: 0 10px;
}
body.res128 .disclaimer {
	margin: 10px 10px;
}
body.res128 #number-entry input[type="tel"] {
	width: 50px;
}
body.res128 #pin-entry label.small, 
body.res128 #pin-entry label.smaller {
	margin: 5px 0;
}
body.res128 #pin-entry label.big {
	margin: 5px 0;
}
body.res128 #pin-entry label.info {
	margin: 5px 0;
}
body.res128 #double-confirmation .info {
	padding: 5px !important;
}
body.res128 #double-confirmation .no {
	margin: 10px;
}
body.res128 #double-confirmation .price {
}
body.res128 #double-confirmation .button span {
	padding: 0 10px;
}
body.res128 #double-confirmation .info-highlight {
	padding: 0 5px;
}
body.res128 .arrow-wrap.number img {
	width: 108px;
}
body.res128 .button, 
body.res128 .button img {
	width: 100%;
}
body.res128 .btn {
	width: 110px;
	padding: 9px 0;
}
body.res128 #congrats h3 {
	font-size: 14px;
}
body.res128 .arrow-wrap.number img {
	top: 7px;
}
body.res128 .arrow-wrap.pin img {
	width: 108px;
	top: 2px;
}
body.res128 #pin-entry input[type="tel"] {
	width: 40px;
}