
body{
	background-color:#333;
	color: #999;
	font: 1.00em/normal Arial, Helvetica, sans-serif;	
}

/* Price, Click here, Message, & Disclaimer */

.price-info{
	font-size:10px;
}
#click-here a{
	color:#f70;
	font-size:11px;
}
#click-here,
.disclaimer{font-size:11px;}
.disclaimer a{color:#999;}
#msg{font-size:11px;}

/* View Area & Holder */

.view-area{
	background-image: url(/AmazingHDVideos/assets/img/background.jpg);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-bottom:10px;
	width: 100%;
}
#title,
#default-background,
#default-background #screen {
	position: absolute;
	display: block;
	margin: 0 auto;
	padding: 0;
}
#title{
	top: 5px;
	left: 0;
	right: 0;
	width: 300px;
	height: 60px;
	background: transparent url(/AmazingHDVideos/assets/img/title-en.png) no-repeat;
	background-position: 50%;
	background-size: 300px 60px;
}

#container.ar #title{
	width:300px;
	height:60px;
	display:block;
	background-size: 100%;
	background-image:url(/AmazingHDVideos/assets/img/title-ar.png);
}

#container.si #title{
	width:300px;
	height:60px;
	display:block;
	background-size: 100%;
	background-image:url(/AmazingHDVideos/assets/img/title-si.png);
}

#default-background{
	left: 0;
	right: 0;
	bottom: 0;
	width: 320px;
	height: 311px;
	background: transparent url(/AmazingHDVideos/assets/img/background-default.png) no-repeat;
	background-position: 50%;
	background-size: 320px 311px;
}
#container.show-double-confirmation #default-background{
	display: none;
}
#default-background #screen{
	top: 88px;
	left: 0;
	right: 5px;
	width: 89px;
	height: 164px;
	background: transparent url(/AmazingHDVideos/assets/img/screen.gif) no-repeat;
	background-position: 50%;
	background-size: 89px 164px;
}
body.stop-animations #default-background #screen{
	background-image: url(/AmazingHDVideos/assets/img/screen.jpg);
}
.holder{
	background-color:rgba(50,50,50,0.88);
	border:1px solid #333;
	max-width: 320px;
}

/* States */

.subscription-info{
	color:#fff;
	font-size:12px;
}
#invalid-pin-error,
#invalid-number-error,
#already-subscribed-error{
	color:red;	
	font-size:11px;
}

/* Buttons */

.btn{font-size:18px;}
.default{
	background: #ff3300;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3300), color-stop(100%,#c02600));
	background: -webkit-linear-gradient(top, #ff3300 0%,#c02600 100%);
	background: -moz-linear-gradient(top, #ff3300 0%, #c02600 100%);
	background: -ms-linear-gradient(top, #ff3300 0%,#c02600 100%);
	background: -o-linear-gradient(top, #ff3300 0%,#c02600 100%);
	background: linear-gradient(top, #ff3300 0%,#c02600 100%);
	border: 1px solid #931d00;
	-webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.25), 0px 0px 4px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.25), 0px 0px 4px rgba(0,0,0,0.25);
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.25), 0px 0px 4px rgba(0,0,0,0.25);
	color: #fff;
	-webkit-text-shadow: 0px 1px 0px rgba(0,0,0,0.25);
	-moz-text-shadow: 0px 1px 0px rgba(0,0,0,0.25);
	-ms-text-shadow: 0px 1px 0px rgba(0,0,0,0.25);
	-o-text-shadow: 0px 1px 0px rgba(0,0,0,0.25);
	text-shadow: 0px 1px 0px rgba(0,0,0,0.25);
}

/* Operator Selection */

#operator-selection{font-size:14px;}
#operator a{font-size:11px;}
#operators span{color:#fff;}
#operators a span{color:#fff;}

/* Double Confirmation */

#doubleopt-background{
	position: relative;
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 255px;
	height: 10px;
}
#doubleopt-background img{
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 10px;
	width: 255px;
	height: 93px;
}
#doubleopt-message{
	position: relative;
    display: block;
    margin: 0 auto 10px;
    padding: 0;
    color: #Fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
#double-confirmation-no{	
	color:#fff;
	font-size:12px;
}

/* Subscription Polling */

.preloader span{background:#f70;}

/* Number & PIN Entry */

#number-entry label,
#pin-entry label {color:#fff;}
#number-entry label{font-size:14px;}
#pin-entry label{font-size:12px;}
#number-entry #number,
#pin-entry #pin{font-size:16px;}

/* MO */

#mo{
	color:#f70;
	font-size:16px;
}
#mo h3{
	color:#fff;
	font-size:14px;
	margin: 0 auto 10px;
}
#mo #keyword,
#mo #short-code{
	font-weight: bold;
	text-transform: uppercase;
}

/* Conrats */

#congrats{color:#fff;}
#congrats h3{font-size:16px;}
#congrats h6{font-size:12px;}

#number-entry p{
	margin:5px 0;
	font-size: 14px;
	text-align: center;
}