body {
    background-color: #041535;
}

.malogo {
    top: 25px;
}

.label {
    top: 50px;
}

.catdog {
    top: 85px;
}

#container .view-area {
    height: 365px !important;
}

#iframe-state {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #DFD9D9;
    z-index: 99;
}

#checkout-container {
    display: block;
    z-index: 9999 !important;
}

#checkout-header {
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: inherit;
    height: 60px;
    background: url("/creatives/TrainYourBrain/assets/img/header_usa.jpg") no-repeat top center;
    background-size: 510px;
    z-index: 99;
}

#iframe-container {
    position: relative;
    width: 100%;
    height: 600px;
    display: block;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}

#iframe-container iframe {
    width: 100%;
    height: 600px;
    border: 0px;
    visibility: visible;
    overflowY: scroll;
}

.btn {
    padding: 19px 10px;
    font-size: 28px;
    letter-spacing: -0.5px;
    color: #061536;
    background: #2eb4ff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #69dcff 0%, #2eb4ff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #69dcff 0%, #2eb4ff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #69dcff 0%, #2eb4ff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#69dcff', endColorstr='#2eb4ff', GradientType=0);
    /* IE6-9 */
    margin-bottom: 10px;
}

.timer {
    display: block;
    top: 360px;
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    width: 87%;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    font-size: 13px;
    margin-bottom: 5px;
}

#click-here {
    background: none;
    margin: 10px auto 0 !important;
    padding: 0 !important;
    color: #6992ae;
    font-size: 11px;
    line-height: 14px;
}

#click-here a {
    color: #52CCFF;
}

.disclaimer {
	padding: 0;
	background: none;
	font-size: 11px;
    line-height: 14px;
    margin-top: 0px !important;
    color: #6992ae;
}

.disclaimer a {
	display: inline-block;
	margin: 0;
	padding: 0;
	color: #6992ae;
}

.areaHotspot {
    width: 100%;
    height: 390px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
}