
/* Creatives */

.malogo{
    top: 25px;
}
.label{
    top: 50px;
    background-image: url(/creatives/TrainYourBrain/assets/img/label_state_01-de.png);
}
.label.accept{
    top: 185px;
    background-image: url(/creatives/TrainYourBrain/assets/img/label_state_02-de.png);
    background-size: 230px auto;
}
.catdog{
    background-size: auto 136px;
    top: 85px;
}
.catdog.accept {
    top: 35px;
}
.answer{
    top:200px;
}
.answer#dog {
    background-image: url(/creatives/TrainYourBrain/assets/img/answer_dog-de.png);
}
.answer#cats {
    background-image: url(/creatives/TrainYourBrain/assets/img/answer_cats-de.png);
}
#or{
    top:220px;
}

/* Global */

body {
    background-color: #020C1D;
}
#container{
    background-size: 460px auto;
}
.view-area {
    height: 372px !important;
}
#container.show-number-entry .view-area,
#container.show-pin-entry .view-area {
    height: 410px !important;
}
.holder {
    bottom: 0px;
    width:280px !important;
    padding:10px !important;
    background-color: rgba(0,0,0,0);
    z-index: 5;
}
#container.show-operator-selection .holder,
#container.show-subscription-polling .holder,
#container.show-number-entry .holder,
#container.show-pin-entry .holder,
#container.show-mo .holder,
#container.show-congrats .holder {
    background-color: rgba(0,0,0,0.88);
}
#container.show-subscribe-button .holder,
#container.show-default-state .holder {
    bottom: 10px !important;
}
#container.show-subscription-polling .holder,
#container.show-congrats .holder {
    bottom: 20px !important;
}
#container.show-double-confirmation .holder {
    bottom: -10px !important;
}
#container.show-mo .holder {
    bottom: 30px !important;
}
.disclaimer {
    margin-top: 10px !important;
    color: #59809A;
}
.btn{
    -webkit-animation: 1s pulse infinite;
    animation: 1s pulse infinite;
    background: #2eb4ff;
    background: -webkit-linear-gradient(top, #69dcff 0%, #2eb4ff 100%);
    background: -moz-linear-gradient(top, #69dcff 0%, #2eb4ff 100%);
    background: -o-linear-gradient(top, #69dcff 0%, #2eb4ff 100%);
    background: linear-gradient(to bottom, #69dcff 0%, #2eb4ff 100%);
    border: none;
    -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
    color: #061536;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

/* default-state */

#default-state #msg{
    margin: 10px auto 0;
    color: #A6D3F3;
}
#default-state #msg a,
#default-state #msg a:hover,
#default-state #msg a:active{
    color: #fff;
}
.confirmedBtn {
    position: relative;
    display: block;
    margin: 10px auto;
    padding: 15px 10px;
    width: 240px;
    border-radius: 25px;
    color: #7d7d7d;
    text-align: center;
    text-decoration: none;
}
.confirmedBtn.accept,
#double-confirmation .btn{
    -webkit-animation: 1s pulse infinite;
    animation: 1s pulse infinite;
    background: #2eb4ff;
    background: -webkit-linear-gradient(top, #69dcff 0%, #2eb4ff 100%);
    background: -moz-linear-gradient(top, #69dcff 0%, #2eb4ff 100%);
    background: -o-linear-gradient(top, #69dcff 0%, #2eb4ff 100%);
    background: linear-gradient(to bottom, #69dcff 0%, #2eb4ff 100%);
    border: none;
    -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
    color: #061536;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

/* double-confirmation */

#double-confirmation{
    visibility: visible;
}
#double-confirmation .btn{
    padding: 15px 10px;
}
#double-confirmation #double-confirmation-no{
    margin: 5px auto 20px;
}
.msg2 {
    display: block;
    top: 242px;
    left: 0;
    right: 0;
    -webkit-animation: fadein 0.7s ease-in-out 1;
    animation: fadein 0.7s ease-in-out 1;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
}
.timer {
    top: 275px;
    font-size: 11px;
}
.msg2,
.timer{
    position: static !important;
}

/* subscription-polling */

.preloader1 span {
    background-color: #34B6C8;
}

/* number-entry & pin-entry */

#number-entry #number,
#pin-entry #pin {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}
#pin-entry label{
    color:#fff;
}
#invalid-pin-error,
#invalid-number-error,
#already-subscribed-error {
    margin: 10px 0 5px;
}

/* mo */

#mo h3,
#mo div{
    display: inline-block;
    margin:0 5px;
}
