/* MOBI-ONE KIT CSS Document */
#double-confirmation{
  visibility: hidden;
}

/* ////////// CASES //////////// */

.label.accept, .catdog.accept, .timer.accept{
  animation: fadein 0.7s ease-in-out 1;
  -webkit-animation: fadein 0.7s ease-in-out 1;
}

.timer.accept{
  animation: fadein 1s ease-in-out 1;
  -webkit-animation: fadein 1s ease-in-out 1;
}

@keyframes fadein{
    0% {transform: translate(0,30px); opacity: 0;}
    100% {transform: translate(0,0); opacity: 100;}
}

@-webkit-keyframes fadein{
    0% {transform: translate(0,30px); opacity: 0;}
    100% {transform: translate(0,0); opacity: 100;}
}

.label.accept{
  background: url(/creatives/TrainYourBrain/assets/img/label_state_02.png) center top no-repeat;
  background-size: 290px;
  top: 184px;
  height: 60px;
}
.catdog.accept{
  background: url(/creatives/TrainYourBrain/assets/img/mind-img.png) center top no-repeat;
  background-size: 180px;
  top:34px;
}
.timer.accept{
  display: block;
}
/* ////////// CUSTOMS //////////// */

#container{
  padding-bottom: 0 !important;
  overflow: hidden !important;
}

u { text-decoration: none;}

#container{ 
  background: #041535 url(/creatives/TrainYourBrain/assets/img/background.jpg) center top no-repeat;
  background-size: 460px;
}
.view-area{
  height: 450px !important; 
}

.holder{
  background: none;
  bottom: 2px !important;
  left: 0 !important;
  right: 0 !important;
  padding: 0 !important;
  width: 310px;
}

.btn{
  width:260px;
  padding:20px 10px;
  border-radius:50px;
}


.catdog{
  display: block;
  margin: 0 auto;
  position: absolute;
  width:280px;
  height:180px;
  top:80px;
  right:0;
  left:0px;
  background: url(/creatives/TrainYourBrain/assets/img/main-img.png) center top no-repeat;
  background-size: 166px;
}

.label{
  display: block;
  margin: 0 auto;
  position: absolute;
  width:310px;
  height:210px;
  top:45px;
  right:0px;
  left:0px;
  background: url(/creatives/TrainYourBrain/assets/img/label_state_01.png) center top no-repeat;
  background-size: 250px;
  z-index: 2;
}
.malogo{
  display: block;
  margin: 0 auto;
  position: absolute;
  width:145px;
  height:30px;
  top:20px;
  right:0px;
  left:0px;
  background: url(/creatives/TrainYourBrain/assets/img/ma_logo_blue.png) center top no-repeat;
  background-size: 120px;
  z-index: 2;
}

#click-here{
  background:#fff;
  margin: auto;
  padding:10px 0;
}

#or{
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color:#7DDFFF;
  top: 253px;
  text-align: center;
}
.answer{
  display: block;
  margin: 0 auto;
  position: absolute;
  width:80px;
  height:50px;
  top:243px;
  right:0px;
  left:0px;
}
.answer#cats{
  background: url(/creatives/TrainYourBrain/assets/img/answer_cats.png) center top no-repeat;
  background-size: 70px;
  left:230px;
}
.answer#dog{
  background: url(/creatives/TrainYourBrain/assets/img/answer_dog.png) center top no-repeat;
  background-size: 70px;
  right:230px;
}

.answer#cats{
  animation: fadein 2.25s ease-in-out 1;
  -webkit-animation: fadein 2.25s ease-in-out 1;
}

.answer#dog{
  animation: fadein 1.25s ease-in-out 1;
  -webkit-animation: fadein 1.25s ease-in-out 1;
}

#or{
  animation: fadein 1.75s ease-in-out 1;
  -webkit-animation: fadein 1.75s ease-in-out 1;
}
.timer{
  display: none;
  margin: 0 auto;
  position: absolute;
  left:0;
  right:0;
  top:250px;
  color:#98E5FD;
  font-weight: bold;
  text-align: center;
  font-size: 13px;
}

/*-- INITIAL SETTINGS:START --*/

body{
  line-height:1.2em;
  background-color:#020c1d;  
  font-family:Arial, Helvetica, sans-serif; 
}

.price-info{
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  color:#84a8ce;
  font-size:11px;
  background: rgba(4,20,53,0.3);
}


#mraid-expand .btn{
    font-size: 14px;
}

.btn{
  font-size:18px;
}

#click-here a{
  color:#C41C2E;
  font-size:11px;
}

#click-here,
.disclaimer{
  background: #020c1d;
  color:#415e71;
  font-size:10px;
  line-height: 16px;
  padding: 10px !important;
  max-width:320px;
  text-align: center;
  margin: 10px auto 0 auto !important;
}

.disclaimer a{color:#333;}

.disclaimer span{
  margin: 0 auto;
  display: block;
  max-width: 400px;
}

#operator-selection{font-size:14px;}

#operator a{font-size:11px;}

#operators span{color:#fff;}

#operators a span{color:#fff;}

#double-confirmation-no{  
  color:#fff;
  font-size:12px;
}

#number-entry label{
  color:#fff; 
  font-size:14px;
}

#number-entry #number,
#pin-entry #pin{
  font-size:16px;
}

#pin-entry label{font-size:12px;}

#mo{
  color:red;
  font-size:16px;
}

#mo h3{
  color:#fff;
  font-size:14px;
}

#congrats{color:#fff;}

#congrats h3{font-size:16px;}

#congrats h6{font-size:12px;}

.subscription-info{
  color:#fff;
  font-size:15px;
}

#invalid-pin-error,
#invalid-number-error,
#already-subscribed-error{
  color:red;  
  font-size:11px;
}

#msg{
  color:#6992ae;
  font-size:11px;
  line-height: 14px;
}

/*-- INITIAL SETTINGS:END --*/


.preloader1 span {background:#f7941d;}
.preloader2 span {background:#fff;}
.preloader3 {  
  border-top-color:rgba(255,255,255, 0.65);
  border-bottom-color:rgba(255,255,255, 0.65);
  border-left-color:rgba(255,255,255, 0.15);
  border-right-color:rgba(255,255,255, 0.15);
}
.preloader4 {  
   border-top-color:rgba(255,255,255, 0.65);
   border-bottom-color:rgba(255,255,255, 0.15);
   border-left-color:rgba(255,255,255, 0.65);
   border-right-color:rgba(255,255,255, 0.15);
}

.preloader5 {background:#fff;}


body.stop-animations *,
body.stop-animations *:before,
body.stop-animations *:after {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
}
