@import '../../../../node_modules/nib'

/* Global Variables */

bodyFontColor = #777
bodyLinkFontColor = #f70
bodyBackground = #111
bodyBackgroundPosition = 50% 0%
bodyBackgroundSize = auto 430px

formFontColor = #fff
formBackground = rgba(22, 27, 27, 0.9)
formBorderRadius = 5px
formBoxShadow = inset 0 0 0 1px rgba(111,132,134,0.5)

buttonFontColor = #fff
buttonBackground = linear-gradient(to bottom, #50c539 0%, #3c942b 100%)
buttonBorder = 1px solid #2d6e20
buttonBoxShadow = inset 0 0 0 1px rgba(255,255,255,0.25)
buttoninputBorderRadius = 5px

shortcodekeywordFontColor = #f60
errorFontColor = #f60

/* Page Styles */

#page-content
	width 100%
	height 230px
	background linear-gradient(to bottom, #333 0%, #111 100%)
	background-image url(/creative/FitnessTips/assets/img/background.jpg)
	background-repeat no-repeat
	background-size 100% 100%
	background-position 50% 0
	box-shadow inset 0 1px rgba(255,255,255,0.11)
	
	&::after
		content ''
		position absolute
		display block
		left 0
		right 0
		bottom -1px
		margin 0
		padding 0
		width auto
		height 50px
		background linear-gradient(to bottom, rgba(17,17,17,0) 0%, rgba(17,17,17,1) 100%)
		
	#woman
		position absolute
		left 0
		bottom 0
		width 105px
		height 173px
		background transparent
		background-image url(/creative/FitnessTips/assets/img/img-woman.png)
		background-repeat no-repeat
		background-size 105px 173px
		background-position 50% 50%
		
	#man
		position absolute
		right 0
		bottom 0
		width 145px
		height 190px
		background transparent
		background-image url(/creative/FitnessTips/assets/img/img-man.png)
		background-repeat no-repeat
		background-size 145px 190px
		background-position 50% 50%
		
	#title
		position absolute
		top 10px
		left 0
		right 0
		margin 0 auto
		width 320px
		height 88px
		background transparent
		background-image url(/creative/FitnessTips/assets/img/title-en.png)
		background-repeat no-repeat
		background-size 320px 88px
		background-position 50% 50%
		
		body.ar &
			background-image url(/creative/FitnessTips/assets/img/title-ar.png)
		
	#ribbon
		position absolute
		top 95px
		left 0
		right 0
		margin 0 auto
		width 70px
		height 110px
		background transparent
		background-image url(/creative/FitnessTips/assets/img/ribbon-en.png)
		background-repeat no-repeat
		background-size 70px 110px
		background-position 50% 50%
		
		body.ar &
			background-image url(/creative/FitnessTips/assets/img/ribbon-ar.png)
		
	#arrow
		position absolute
		left 0
		right 0
		bottom 0
		margin 0 auto
		width 25px
		height 25px
		background transparent
		background-image url(/creative/FitnessTips/assets/img/arrow.png)
		background-repeat no-repeat
		background-size 25px 25px
		background-position 50% 50%
		z-index 10
		animation: upDown 1s ease-in-out infinite

@keyframes upDown
	0%
		transform translate3d(0,5px,0)
	50%
		transform translate3d(0,-5px,0)
	100%
		transform translate3d(0,5px,0)

/* Global */

html, body
	-webkit-tap-highlight-color rgba(0, 0, 0, 0)
	-webkit-text-size-adjust 100%

body
	position relative
	margin 0
	padding 0
	background bodyBackground
	background-position bodyBackgroundPosition
	background-size bodyBackgroundSize
	color bodyFontColor
	font-family Arial, Helvetica, sans-serif
	font-size 16px

	div, span
		position relative
		display block
		margin 0
		padding 0

	&.ar
		direction rtl

	.hotspot
		position absolute
		display block
		top 0
		left 0
		right 0
		bottom 0
		width 100%
		height 100%
		background rgba(255,0,0,0)
		
	a,
	a img
		border none
		outline none

#click-here
	display none
	margin 5px 10px 0
	font-size 0.625em
	text-align center
	
	body.ar &
		font-size 0.688em

	span
		display inline
		margin 0
		padding 0

	a, a:visited
		display inline
		margin 0
		padding 0
		color bodyLinkFontColor

	a:hover
		color lighten(bodyLinkFontColor, 25%)

	img
		display block
		margin 5px auto 0
		width 100px
		height auto
	
#language
	display none
	margin 10px auto 0
	padding 0
	width 100px
	height 30px
	text-align center

	img
		margin 0 auto
		width 100px
		height 30px
		
#container.show-subscribe-button #click-here,
#container.show-default-state #click-here,
#container.show-subscribe-button #language,
#container.show-default-state #language,
#container.show-number-entry #language
	display block

#container
	position relative
	display block
	width auto
	height auto

// Pricing

.price
	margin 0
	padding 5px 0
	width auto
	height auto
	box-shadow 0 1px 0 rgba(255,255,255,0.25)
	font-size 0.625em
	line-height normal
	text-align center
	
	body.ar &
		font-size 0.688em

// Disclaimers

.disclaimer
	padding 10px
	width auto
	height auto
	font-size 0.625em
	line-height normal
	text-align center
	
	body.ar &
		font-size 0.688em

	span
		display inline

	a, a:visited
		display block
		margin 10px auto
		color bodyFontColor

	a:hover
		color lighten(bodyFontColor, 25%)

// Button

.btn
	display block
	margin 0 auto
	padding 0.750em 0
	width 225px
	height auto
	background buttonBackground
	border buttonBorder
	border-radius buttoninputBorderRadius
	box-shadow buttonBoxShadow
	color buttonFontColor !important
	font-size 1.00em
	font-weight bold
	outline none
	text-align center
	text-decoration none
	
	body.ar &
		font-size 1.125em

	& > span
		top -1px
		animation: blink 1s steps(5, start) infinite

@keyframes blink
	0%, 50%
		visibility visible
	51%, 100%
		visibility hidden

// Forms

#operator-selection,
#default-state,
#double-confirmation,
#number-entry,
#pin-entry,
#mo,
#congrats
	position relative
	display block
	margin 0 10px
	padding 10px 10px 0
	color formFontColor
	text-shadow 0 1px 0 rgba(0,0,0,0.5)

	label, input
		position relative
		display block

	label
		font-size: 1.00em
		text-align center

	input
		margin 0.500em auto
		padding 0.500em
		border 1px solid #000
		border-radius buttoninputBorderRadius
		color #111
		direction ltr
		font-size 1.125em
		font-weight bold
		letter-spacing normal
		text-align left
		outline none

	#invalid-number-error,
	#already-subscribed-error,
	#invalid-pin-error
		margin 5px 0
		padding 0		
		color errorFontColor
		font-size 0.750em
		text-align center

#double-confirmation,
#number-entry,
#pin-entry,
#mo,
#congrats
	// background: formBackground
	// border-radius: formBorderRadius
	// box-shadow: formBoxShadow
	
#operator-selection
	
	#operators
		text-align center
		
		& > span
			margin 0 0 10px
			color #fff
			font-size 0.750em
			font-weight bold
			text-shadow 0 1px 0 rgba(0,0,0,0.75), 0 2px 3px rgba(0,0,0,0.75)
			
			body.ar &
				font-size 0.813em
		
		a.btn-operator
			display inline-block
			margin 0 3px
			width 60px
			height 70px
				
			img
				width 60px !important
				height 60px !important
			
			& > span
				position absolute
				display block
				margin 0
				width 60px
				height auto
				color #fff
				font-size 0.750em
				font-weight bold
				text-align center
				text-shadow 0 1px 0 rgba(0,0,0,0.75), 0 2px 3px rgba(0,0,0,0.75)
				
				body.ar &
					font-size 0.813em
			
			&:link,
			&:hover,
			&:active,
			&:visited
				text-decoration none
	
#default-state
	padding 10px 0
	
	a.btn
		
		span
			
			&:before
				content ''
				position relative
				display inline-block
				top 1px
				margin 0 5px
				padding 0
				width 20px
				height 15px
				background transparent url(/creative/WhatsApp/assets/img/icon-download.png) no-repeat
				background-position 0% 0%
				background-size 20px 15px

#double-confirmation
	
	span
		text-align center
		
		&#double-confirmation-message 
			font-size 0.750em
			margin-bottom 5px
			padding-bottom 5px

		&#double-confirmation-no
			font-size 0.750em
			margin-top 5px
			padding-top 5px
			text-decoration underline
	
#number-entry
	text-align center
	
	input
		display block
		padding 0.625em 0.500em
		width 130px
		direction ltr
		
	// a.btn
	// 	display inline-block
	// 	width 45px

#pin-entry
	text-align center
	
	label
		font-size 0.750em

		body.ar &
			font-size 0.875em

	h3
		margin 0.500em 0 0
		font-size: 1em
		text-align: center
	
	input
		display block
		padding 0.625em 0.500em
		width 50px
		direction ltr
		text-align center
		
	// a.btn
	// 	display inline-block
	// 	width 45px

#mo, #congrats
	text-align center

	h3, h6 
		margin 5px 0
		padding 0
		font-weight normal

	h3
		font-size 1.00em

	h6
		font-size 0.750em

	span
		font-size 0.750em

#keyword, #short-code
	margin 5px 0px
	color shortcodekeywordFontColor
	font-size 1.125em
	font-weight bold
	text-transform uppercase

/* 320x480 */

@media only screen and (max-height:372px)

	#girl
		width 118px
		height 200px
		background-size 118px 200px

	#container
		height 356px

/* mraid */

#mraid-close
	position absolute
	top 0.500em
	right 0.500em
	width 25px
	height 25px
	background-image url('/public/mraid-landing-pages/img/close.png')
	background-size: cover
	background-repeat no-repeat
	background-position 50% 50%
	z-index 100
	

